body{
    background-color: rgb(197, 191, 178)

}
.title{
    font-family:Stack Sans Notch;
    text-align: center;
    font-size: 30px;
    margin-top:0px;
    color: black;
}

.title a{
    color: black;
    text-decoration: none;
}
.title a:visited{
    color: black;
    text-decoration: none;
}

.title a:hover{
    color: black;
    text-decoration: none;
}


